<?if(!defined('IN_dzsw')) exit('Access Denied');?>

<table border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout">
<tr class="header">
	<td><?=$lang_box['search_history']?></td>
</tr>
<tr class="bgcolor1">
	<td>
		<?php if($search_history){?>
			<span class="text"><?php echo $search_history;?></span>
		<?php }else{?>
			<i><?php echo $lang_box ['search_history_empty'];?></i>
		<?php }?>
	</td>
</tr>
<tr class="bgcolor1">
	<td align="right"> 
		<a href="dzsw.php?act=clearcookie_search"><?=$lang_box['search_history_clear']?></a>
	</td>
</tr>
</table>
