<?if(!defined('IN_dzsw')) exit('Access Denied'); ?>
<table bgcolor="#FFFFFF" bordercolor="#FFFFFF" width="600" cellpadding="1" cellspacing="3" border="0" align="center">	
<tr>
	<td>		
		<table width="90%" cellpadding="4" cellspacing="0" border="0" align="center">
		<tr>
			<td><br /></td>
		</tr>
		<tr>
			<td><?=$lang_email['thank_word']?><br /><br /></td>
		</tr>
		<tr>
			<td><?=$lang_email['footer']?></td>
		</tr>
		<tr>
			<td><?=$lang_email['contactus']?><a href="mailto:<?=$settings['server_email']?>"><?=$settings['server_email']?></a></td>
		</tr>
		<tr>
			<td align="right"><a href="<?=$settings['storeurl']?>" target="_blank"><?=$settings['store_name']?></a></td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td align="center">
		<span style="color:; font-size: 11px; font-family: Tahoma, Arial">
		Powered by <a href="http://www.dzsw.com" target="_blank"><b> dzsw </b></a>
		&copy; 2005-2006, <a href="http://www.dzsw.com" target="_blank" style="color: red;font-weight:bold">dzsw</a>
		</span>
	</td>
</tr>
</table>
</body>
</html>
    
