<?include template('email_header'); ?>
<table bgcolor="#FFFFFF" bordercolor="#FFFFFF" width="600" cellpadding="1" cellspacing="3" border="0" align="center">
<tr><td>

	<table border="0" cellspacing="1" cellpadding="4" width="90%" class="bgcolor1">
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$lang_register_email[header]</td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$lang_register_email[message]</td>
	</tr>
	<tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$lang_register_email[warning]</td>
	</tr>
	</table>

</td></tr></table>
<?include template('email_footer'); ?>
