<?if(!defined('IN_dzsw')) exit('Access Denied'); include template("header_simple");?>
<script language="javascript"><!--
function checkform() {
  if (form.oldpassword.value =='') {
     alert("<?=$lang_myaccount_password['msg_oldpassword_empty']?>");
     return false;
  }
  if (form.newpassword.value =='') {
     alert("<?=$lang_myaccount_password['msg_newpassword_empty']?>");
     return false;
  }
  if (form.newpassword.value!=form.newpassword2.value) {
     alert("<?=$lang_myaccount_password['msg_password_notsame']?>");
     return false;
  }
  return true;  
}
//--></script>

<?php include template("navbar");?>

<div class="main">
	<table border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout">
	<tr class="bgcolor1">
		<td valign="top">
			<?include template("myaccount_left");?>
		</td>
		<td width="76%" valign="top">

			<div>
				<h1><?php echo $lang_myaccount_password['header'];?></h2>
			</div>
			
			<?if(is_array($message_all) && $message_all['0']){?>
			<table  border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout" align="center">
			<?foreach($message_all as $key=>$value){?>
			<tr class="bgcolor2" style="color:red">
				<td><img src="./images/icons/error.gif" border="0">&nbsp;&nbsp;&nbsp;<?=$value?></td>
			</tr>
			<?}?>
			</table>
			<br />
			<?}?>

			<table  border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout" align="center">
			<form name="form" action="myaccount.php" method="post" onSubmit="return checkform();">
			<input type="hidden" name="type" value="password">
			<input type="hidden" name="action" value="update">
			<tr class="header" >
				<td colspan="2"><?=$lang_myaccount_password['changepassword:']?></td>
			</tr>
			<tr class="bgcolor1">
				<td align="right" width="40%"><?=$lang_myaccount_password['oldpassword:']?></td>
				<td><input type="password" name="oldpassword" size="20"></td>
			</tr>
			<tr class="bgcolor1">
				<td align="right"><?=$lang_myaccount_password['newpassword:']?></td>
				<td><input type="password" name="newpassword" size="20"></td>
			</tr>
			<tr class="bgcolor1">
				<td align="right"><?=$lang_myaccount_password['newpassword2:']?></td>
				<td><input type="password" name="newpassword2" size="20"></td>
			</tr>
			<tr  class="bgcolor2">
				<td align="center" colspan="2"><input type="submit" name="submit" value="  <?=$lang_common['submit']?>  " class="bginput"></td>
			</tr>
			</form>
			</table>
			<br />
			<br />

		</td>
	</tr></table>
</div>
<? include template("footer");?>
