<?if(!defined('IN_dzsw')) exit('Access Denied');?>
<?include(ADMIN_TPL.'header.htm')?>

<?php include(ADMIN_TPL.'message_all.htm')?>

<br />
<form method="post" action="admin.php">
<input type="hidden" name="act" value="adminchangepw">
<input type="hidden" name="action" value="dochange">
<table  border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout" align="center">
<tr class="header">
	<td colspan="2"><?=$lang_a_adminchangepw['title_']?></td>
</tr>
<tr class="bgcolor1">
	<td align="right"><?=$lang_a_adminchangepw['currentpw_']?></td>
	<td class="bgcolor1" align="left"><input type="password" name="password_current"></td>
</tr>
<tr class="bgcolor1">
	<td align="right"><?=$lang_a_adminchangepw['newpw_']?></td>
	<td class="bgcolor1" align="left"><input type="password" name="password_new"></td>
</tr>
<tr class="bgcolor1">
	<td align="right"><?=$lang_a_adminchangepw['newpw2_']?></td>
	<td class="bgcolor1" align="left"><input type="password" name="password_new2"></td>
</tr>
</table>

<br />
<table  border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout" align="center">
<tr align="center" class="bgcolor1">
	<td><input type="submit" name="submit" value="  <?=$lang_common['submit']?>  " class="bginput"></td>
</tr>
</table>
</form>

<?include(ADMIN_TPL.'footer.htm')?>
