<?if(!defined('IN_dzsw')) exit('Access Denied');include(ADMIN_TPL.'header.htm')?>

<table height="80%" border="0" cellspacing="1" cellpadding="4" width="100%">
<tr>
	<td>
		<table border="0" cellspacing="1" cellpadding="4" width="500" class="tableout" align="center">
		<tr class="header">
			<td><?=$lang_common['system_notice:']?></td>
		</tr>
		<tr class="bgcolor1">
			<td align="center">
				<table border="0" width="90%" cellspacing="0" cellpadding="0">
				<tr>
					<td width="100%" align="center">
					<?=$message_?><br><br>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
<?include(ADMIN_TPL.'footer.htm')?>
