<?if(!defined('IN_dzsw')) exit('Access Denied');?>
<?include(ADMIN_TPL.'header.htm')?>

<?php include(ADMIN_TPL.'message_all.htm')?>

<form name="form" method="get" action="admin.php">
<input type="hidden" name="act" value="customers">
<input type="hidden" name="action" value="search">
<table  border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout" align="center">
<tr><td class="header" colspan="2"><?=$lang_a_customer['search']?></td></tr>
<tr class="bgcolor1">
	<td><?=$lang_a_customer['group_']?></td>
	<td>
		<select name="groupid">
		<option value=""><?=$lang_a_customer['groupall']?></option>
		<?if(is_array($usergroup_array)){foreach($usergroup_array as $val){?>
		<option value="<?=$val['groupid']?>"><?=$val['grouptitle']?></option>
		<?}}?>
		</select>
	</td>
</tr>
<tr class="bgcolor1">
	<td><?=$lang_a_customer['emailinclude_']?></td>
	<td><input type="text" name="email" size="40"></td>
</tr>
<tr class="bgcolor1">
	<td><?=$lang_a_customer['credit_']?></td>
	<td><?=$lang_a_customer['morethan_']?>&nbsp;<input type="text"	name="cfrom" size="15" value="<?=$cfrom?>">&nbsp;<?=$lang_a_customer['lessthan_']?><input type="text"	name="cto" size="15" value="<?=$cto?>"></td>
</tr>

</table>

<br />
<center><input type="submit" name="submit" value="  <?=$lang_common['submit']?>  "></center>
</form>

<?include(ADMIN_TPL.'footer.htm')?>
