<?if(!defined('IN_dzsw')) exit('Access Denied');include(ADMIN_TPL.'header.htm')?>
<?if($type != 'add'){?>
	<?php include(ADMIN_TPL.'product_detail_top.htm')?>
<?}?>
<?if($message_all['0']){?>
<br />
<table  border="0" cellspacing="1" cellpadding="4" width="95%" class="tablebordercolor">
<?foreach($message_all as $key=>$value){?>
<tr>
	<td><img src="images/icons/error.gif" border="0"><?=$value?></td>
</tr>
<?}?>
</table>
<?}?>

<br />
<form method="post" name="form" action="admin.php" enctype="multipart/form-data">
<input type="hidden" name="act" value="products">
<?if($type == 'add'){?>
	<input type="hidden" name="h_action" value="add">
<?}else{?>
	<input type="hidden" name="h_action" value="update_common">
	<input type="hidden" name="products_id" value="<?=$products_id?>">
<?}?>
<table  border="0" cellspacing="1" cellpadding="4" width="100%" class="tableout" align="center">
<?if($type == 'add'){?>
<tr class="bgcolor2">
    <td width="18%" align="right"><?=$lang_a_product[classes_]?></td>
    <td>
	   <select name="classes_id">
       <?=$classes_select?>
       </select>
	</td>
</tr>
<?}?>
<tr class="bgcolor2">
    <td align="right"><?=$lang_a_product['name_']?></td>
    <td><input name="name" size="" value="<?php echo $product_data['pname'];?>"></td>
</tr>
<tr class="bgcolor2">
    <td align="right"><?=$lang_a_product['show_yesorno_']?></td>
    <td><input type="radio" name="status" value="1" <?=$checked_1?>>&nbsp;<?=$lang_common['yes']?>&nbsp;<input type="radio" name="status" value="0" <?=$checked_0?>>&nbsp;<?=$lang_common['no']?></td>
</tr>
<tr class="bgcolor2">
    <td align="right"><?=$lang_a_product['manufacturer_']?></td>
    <td><input name="manufacturer" size="" value="<?php echo $product_data['manufacturer'];?>">&nbsp;</td>
</tr>
<tr  class="bgcolor2">
    <td align="right"><?=$lang_a_product['quantity_']?></td>
    <td><input type="text" name="quantity" value="<?php echo $product_data['quantity'];?>"></td>
</tr>
<tr class="bgcolor2">
    <td align="right"><?=$lang_a_product['model_']?></td>
    <td><input type="text" name="model" value="<?php echo $product_data['model'];?>"></td>
</tr>
<tr class="bgcolor2">
    <td align="right"><?=$lang_a_product['weight_']?></td>
    <td><input type="text" name="weight" value="<?php echo $product_data['weight'];?>"></td>
</tr>
</table>

<br />
<center>
	<input type="submit" name="submit" value="   <?=$lang_common['submit']?>   " class="bginput">&nbsp;
	<?if($type == 'edit'){?>
	   <input type="button" value="   <?=$lang_common['back']?>   " onClick="window.location='admin.php?act=products&type=showproducts&classes_id=<?=$classes_id?>';" class="bginput">
	<?}else{?>
	   <input type="button" value="   <?=$lang_common['back']?>   " onClick="window.location='javascript:history.back(-1)';" class="bginput">	
	<?}?>
</center>
</form>
<br />
<br />

<?php include(ADMIN_TPL.'footer.htm')?>
