<?if(!defined('IN_ADMIN')) exit('Access Denied');?>
<?include(ADMIN_TPL.'admin_header.htm')?>

<?if($message_all['0']){?>
<br />
<table  border="0" cellspacing="1" cellpadding="4" width="95%" class="tableout" align="center">
<?foreach($message_all as $key=>$value){?>
<tr class="bgcolor1">
	<td width="5%"><img src="images/icons/error.gif" border="0"></td>
	<td class="messagetxt"><?=$value?></td>
</tr>
<?}?>
</table>
<?}?>

<br />
<table  border="0" cellspacing="<?=BORDERWIDTH?>" cellpadding="<?=TABLESPACE?>" width="95%" class="tableout" align="center">
<tr class="header"><td colspan="3"><?=LANG_TEMPLATES_VINDICATE?></td></tr>
<form method="post" action="<?=soobic_link('admin.php')?>">
<input type="hidden" name="act" value="templates">
<input type="hidden" name="action" value="add">
<input type="hidden" name="tid" value="<?=$tid?>">
<tr bgcolor="<?=ALTBG2?>"><td width="25%"><?=LANG_TEMPLATES_ADD?></td><td width="55%"><input type="text" name="templatename" size="40" maxlength="40"></td>
<td width="20%"><input type="submit" value="添 加"></td></tr></form>
</table>
<br>
<table  border="0" cellspacing="<?=BORDERWIDTH?>" cellpadding="<?=TABLESPACE?>" width="95%" class="tableout" align="center">
<tr class="header"><td><?=LANG_TEMPLATES_CHOOSE?></td></tr>
<tr bgcolor="<?=ALTBG1?>"><td><br><center></center><br>
<ul><?=$templates?></ul>
</td></tr></table>

<?include(ADMIN_TPL.'admin_footer.htm')?>
