<div class="main"></div>
<div class="main">
	<div id="list">
		<font color="#FF0000">&gt;</font> 瀹夎瀹屾垚</b>
	</div>
</div>
<div class="main">
	<table cellSpacing=1 cellPadding=6 width="90%" border=0 align="center">
	<tr>
		<td align="center">
			<font color="#FF0000"><b>鎭枩鎮紒dzsw 瀹夎鎴愬姛锛岃鍔″繀鍒犻櫎姝ゅ畨瑁呯▼搴忋€?/font>
			<br />
			<br />
			绠＄悊鍛樿处鍙凤細</b> <?php echo $email;?><b> &nbsp; 瀵嗙爜锛?/b> <?php echo $password;?>
			<br />
			<br />
			<a href="index.php" target="_blank">杩涘叆鍟嗗煄鍓嶅彴</a>&nbsp;&nbsp;&nbsp;<a href="admin.php" target="_blank">杩涘叆鍟嗗煄鍚庡彴</a>
		</td>
	</tr>
	</table>
</div>