<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd";>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $charset;?>">
<meta http-equiv="MSThemeCompatible" content="Yes">

<title>dzsw 缃戜笂鍟嗗煄瀹夎绯荤粺 <?php if($title){?>- <?php echo $title;?><?php }?></title>
<link rel="stylesheet" href="install/style.css" type="text/css">
</head>
<body>

<div class="mainhead">
	<div id="header">		
		&gt;&gt; dzsw WebShop 瀹夎鍚戝
	</div>
</div>