<div class="main"> 
	<div id="welcome">娆㈣繋鏉ュ埌 dzsw Webshop 瀹夎鍚戝锛屽畨瑁呭墠璇蜂粩缁嗛槄璇?readme 妗ｇ殑姣忎釜缁嗚妭锛屼互淇濊瘉瀹夎杩涚▼鐨勯『鍒╄繘琛屻€?/div>
</div>
<div class="main">
	<div id="navbar">褰撳墠浣嶇疆 --> 闃呰鎺堟潈鍗忚</div>
</div>
<div class="main"> 
	<table cellSpacing=1 cellPadding=4 width="80%" border=0 style="table-layout: fixed; word-wrap: break-word;" align="center" class="tableout">
	<tr class="bgcolor2">
		<td>
			<br />

			<br />
			<br />
		</td>
	</tr>
	</table>
</div>
<div class="main"> 
	<center>
		<input type="button" value=" 鎴戝悓鎰忎互涓婂崗璁?" onclick="window:location='install.php?type=info_db'" class="bginput">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="鎴戜笉鍚屾剰浠ヤ笂鍗忚" onclick="javascript:window.close()" class="bginput"><br />
		<br />
	</center>
</div>